.logo {
  font-weight: var(--typo-font-weight-h1);
  font-size: 23px;
  white-space: nowrap;
}

.logo__circle {
  position: relative;
  z-index: 1;
}

.logo__circle::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: calc(50% - 26px);
  left: calc(50% - 26px);
  display: block;
  width: 52px;
  height: 52px;
  background-color: var(--color-primary);
  border-radius: 50%;
}